Freenove_4WD_Car_Kit_for_Raspberry_Pi_Pico-main/
Freenove_4WD_Car_Kit_for_Raspberry_Pi_Pico*/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

*.uf2
*.elf
*.bin
*.hex
build/
dist/

.DS_Store
Thumbs.db
